body{
    background-color: crimson;
}
#hobby2 {
    padding-top: 0;
  
    
  }
  
  .hobb2 {
    margin-bottom: 25px;
    text-align: center;
    background-color: rgb(238, 238, 238);
    margin-top: 30px;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 16px;
    
  }
  
  .hobb2 h2 {
      margin-top: 30px;
   
  }
  
  
  #hobby2 .img-responsive {
    width: 100%;
    text-align: center;
    
  }
  
  .hob-info2 {
      margin-top: 10px;
      font-size: 18px;
    
    }
  .hob-info2 h3 {
    margin-top: 35px;
  
  }
  
  .hob-info2 h4 {
    font-size: 14px;
    margin-bottom: 20px;
    color: rgb(104, 104, 104);
  }
    